/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #ec644b;
  --f7-theme-color-rgb: 236, 100, 75;
  --f7-theme-color-shade: #e84426;
  --f7-theme-color-tint: #f08470;
}

/* Your app custom styles here */

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  z-index: 5001;
}

.title-large-text {
  color: #ec644b;
  font-size: 52px;
  font-weight: 200;
}

.title {
  color: #ec644b;
}

.button {
  margin: 20px 0;
}

img {
  width: 100%;
  height: auto;
}

.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 340px = 90 mm*/
  height: 200px; /* 189px = 50 mm*/
  border: 1px solid #999999;
  overflow: hidden;
}
.preview__info {
  margin-right: 25px;
}

.preview__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 25px;
}

.preview__logo--img {
  max-height: 100px;
  max-width:50%;
}